<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <h3 mat-dialog-title>Add Contact</h3>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="first_name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="last_name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="emailControl.invalid && emailControl.value.length"
        >Invalid Email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput type="tel" formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Company</mat-label>
      <input matInput type="text" formControlName="company" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button color="primary" type="submit">Add</button>
  </div>
</form>
